* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "saira", sans-serif;
}

.img {
    position: fixed;
    top: 10%;
    right: -10%;
    width: 55%;
    height: auto;
    z-index: -1;
}

body {
    background-color: black;
    animation: blur 1.8s ease-in 0.2s forwards;
    opacity: 0;
    padding-bottom: 90px;
}

@keyframes blur {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main {
    padding: 10px;
}

b {
    color: yellow;
}

#developer h1 {
    display: inline-block;
    color: white;
    margin-top: 30px;
    margin-left: 121px;
    animation: h1anim 1.2s ease-in 0.1s forwards;
}

@keyframes h1anim {
    from {
        opacity: 0;
        transform: translateX(-70px);
    }

    to {
        opacity: 1;
    }
}

header span {
    display: inline-block;
    color: white;
    font-size: 42px;
    animation: h1anim 1.2s ease-in 0.1s forwards, yon 0.4s ease-out 2.2s 3;
}

@keyframes yon {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#salom {
    margin-top: 120px;
}

#salom h2 {
    display: flex;
    justify-content: left;
    color: white;
    margin-left: 110px;
    animation: asos 1s linear 1.2s forwards;
    opacity: 0;
}

#salom p {
    display: inline-block;
    justify-content: left;
    color: white;
    margin-left: 110px;
    animation: asos 1s linear 2s forwards;
    opacity: 0;
}

@keyframes asos {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
    }
}

summary:hover{
    cursor: pointer;
    color: red;
}

#haqimda {
    display: inline-block;
    justify-content: left;
    color: red;
    margin-left: 110px;
    animation: opac 1.9s linear 3.6s forwards;
    opacity: 0;
}

@keyframes opac {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        color: white;
    }
}

.GICLogos {
    width: auto;
    height: 9px;
}

.GICLogo {
    width: auto;
    height: 13px;
}

#social {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 40px;
}
#social #a1 {
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    border: 2px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: white;
    animation: socialanim 3.7s linear 0.9s infinite;
    opacity: 0;
}

#social #a2 {
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: white;
    animation: socialanim 3.7s linear 1s infinite;
    opacity: 0;
}

#social #a3 {
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: white;
    animation: socialanim 3.7s linear 1.1s infinite;
    opacity: 0;
}

#social #a4 {
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    border: 2px solid white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    color: white;
    animation: socialanim 3.7s linear 1.2s infinite;
    opacity: 0;
}

@keyframes socialanim {
    0% {
        opacity: 0;
        border-color: red;
        box-shadow: 0 0 6px red, 0 0 6px red;
    }

    50% {
        border-color: white;
        opacity: 1;
    }

    100% {
        opacity: 1;
        border-color: red;
        box-shadow: 0 0 6px red, 0 0 6px red;
    }
}

@media(max-width: 768px) and (orientation: portrait) {
    .img {
        position: fixed;
        top: 1%;
        right: -38%;
        width: 128%;
        height: auto;
        z-index: -1;
    }

    #developer h1 {
        display: inline-block;
        color: white;
        margin-top: 30px;
        margin-left: 40px;
        animation: h1anim 1.2s ease-in 0.1s forwards;
    }

    #salom {
        margin-top: 120px;
    }

    #salom h2 {
        display: inline-block;
        justify-content: left;
        color: white;
        margin-left: 35px;
        animation: asos 1s linear 1.2s forwards;
        opacity: 0;
        font-size: 18px;
    }

    #salom p {
        display: inline-block;
        justify-content: left;
        color: white;
        margin-left: 35px;
        animation: asos 1s linear 2s forwards;
        opacity: 0;
    }

    #haqimda {
        display: inline-block;
        justify-content: left;
        color: red;
        margin-left: 35px;
        animation: opac 1.9s linear 3.6s forwards;
        opacity: 0;
    }
}
    
