*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-image: url("yershari.jpg");
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="10" width="10"><circle cx="5" cy="5" r="5" fill="black"/></svg>') 5 5, auto;
}
.blur{
    backdrop-filter: blur(9px);
    transition: 3s;
}
main {
  flex: 1;
}
#logo{
    font-family: "Saira", sans-serif;
    color:white;
    letter-spacing: 3.2px;
    opacity: 0;
}
@keyframes logoanim{
    from{
        opacity: 0;
        text-shadow: 0 0 0px white;
    }
    to{
        opacity: 1;
        text-shadow:0 0 3px black;
    }
}

#navbar{
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    font-weight: 400;
    font-family: "saira", sans-serif;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0;
}
#navbar a{
    cursor: pointer;
}
.jsanim{
    animation: logoanim 3s ease forwards;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background: fixed;
    flex-wrap: wrap;
    height: 8vh;
    width: 100%;
}
header a{
    text-decoration: none;
    color: white;
    font-family: "saira", sans-serif;
    font-size: 15px;
}
main #markaz{
    font-size: 4.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    color:white;
    text-shadow: 0 0 8px black, 0 0 12px black;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: -4;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    z-index: 10;
    font-size: 1.1em;
    font-family: "saira", sans-serif;
}
.loaderend{
    transition: 2s;
    opacity: 0;
    pointer-events: none;
}
details{
    color: white;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(100, 100, 100);
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    height:36px;
    width: 100%;
    align-items: center;
    
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 1em;
}
#social{
    display: flex;
    justify-content: center;
    gap: 10px; 
}
.qor{
  color: white;
  position: fixed;
  top: -120vh;
  left: 50vw;
  animation: yogish 9s linear infinite;
  z-index: -4;
    font-size: 14px;
}

@keyframes yogish{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(220vh);
  }
}
.menu{
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    padding: 35px;
    background-color: transparent;
    color: red;
    border: 2px solid white;
    z-index: 6;
    transition: 2s;
    pointer-events: none;
}
.cmd{
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.9);
    position: fixed;
    z-index: 7;
    height: 100vh;
    width: 100vw;
    pointer-events: auto;
}

