* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "saira", sans-serif;
    color: white;
}

body{
    background-image: url("yershari.jpg");
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

header{
    margin: 11px 13px;
}

#mininavbar{
    display: flex;
    gap: 10px;
    font-size: 1em;
}

#logo img{
    width: 220px;
    height: auto;
}

#mininavbar a{
    color: white;
    text-decoration: none;
}

span{
    font-family: "Lobster Two", sans-serif;
}

main{
    flex: 1;

}

#navbar a{
    color: white;
    text-decoration: none;
}

