*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("yershari.jpg");
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
}
main {
  flex: 1;
}
#logo{
    font-family: "Saira", sans-serif;
    color:white;
    animation: logoanim 3s ease forwards;
    letter-spacing: 3.2px;
}
@keyframes logoanim{
    from{
        opacity: 0;
        text-shadow: 0 0 0px white;
    }
    to{
        opacity: 1;
        text-shadow:0 0 3px black;
    }
}

#navbar{
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    animation: logoanim 3s ease forwards;
    font-weight: 400;
    font-family: "saira", sans-serif;
    flex-wrap: wrap;
    justify-content: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background: fixed;
    flex-wrap: wrap;
    height: 8vh;
    width: 100%;
}
header a{
    text-decoration: none;
    color: white;
    font-family: "saira", sans-serif;
    font-size: 15px;
}
main #markaz{
    font-size: 4.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    color: white;
    text-shadow: 0 0 8px black, 0 0 12px black;
    transform: translateX(-50%, -50%);
    position: fixed;
    z-index: -3;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: rgb(100, 100, 100);
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    height:36px;
    width: 100%;
    align-items: center;
    
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 1em;
}
#social{
    display: flex;
    justify-content: center;
    gap: 10px; 
}
